<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.robert.mvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KeepApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.MainActivity"
            android:parentActivityName=".view.activities.LoginActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activities.PeopleActivity"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activities.PeopleDetailActivity"
            android:parentActivityName=".view.activities.PeopleActivity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
